<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
 
	<!-- 使用Annotation自动注册Bean,如果多个，用“,”分隔 ,只扫描@Controller -->
	<context:component-scan base-package="itools" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
 
	<bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<!-- <property name="prefix" value="/WEB-INF/jsp/" /> -->
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	
	<!-- <mvc:annotation-driven/> -->
	
	
	<mvc:annotation-driven>
	<!-- 解决ReponseBody返回到前端中文乱码错误,不加此配置,也可使用 @RequestMapping(value="/getChartXML",produces = "plain/text; charset=UTF-8")解决 -->
	<mvc:message-converters>
		<bean class="org.springframework.http.converter.StringHttpMessageConverter">
			<property name="supportedMediaTypes">
				<list>
					<value>text/plain;charset=UTF-8</value>
					<value>text/html;charset=UTF-8</value>
				</list>
			</property>
		</bean>
		<bean
			class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
			<property name="supportedMediaTypes">
				<list>
					<value>application/json; charset=UTF-8</value>
					<value>application/x-www-form-urlencoded; charset=UTF-8</value>
				</list>
			</property>
		</bean>
	</mvc:message-converters>
 	</mvc:annotation-driven>
	
	
	<mvc:resources  mapping="/resources/**" location="/resources/" />
	
	 <!--处理文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!--100M=100×1024=102400KB=102400×1024=104857600Byte  -->
		<property name="maxUploadSize" value="104857600" />
		<property name="maxInMemorySize" value="4096" />
		<!--解决上传文件名中文乱码  -->
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
 
</beans>